attrs==20.2.0
blis==0.4.1
catalogue==1.0.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
cymem==2.0.3
dataclasses==0.7
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
filelock==3.0.12
future==0.18.2
googledrivedownloader==0.4
idna==2.10
importlib-metadata==2.0.0
iniconfig==1.0.1
joblib==0.16.0
jsons==1.2.0
kiwisolver==1.2.0
krippendorff==0.3.2
language-tool-python==2.4.2
lxml==4.5.2
matplotlib==3.3.2
more-itertools==8.5.0
murmurhash==1.0.2
nltk==3.5
numpy==1.19.2
overrides==3.1.0
packaging==20.4
pandas==1.1.2
Pillow==7.2.0
plac==1.1.3
pluggy==0.13.1
portalocker==2.0.0
preshed==3.0.2
protobuf==3.13.0
py==1.9.0
pyparsing==2.4.7
pyspellchecker==0.5.5
pytest==6.0.2
python-dateutil==2.8.1
pytz==2020.1
pyxDamerauLevenshtein==1.6.1
regex==2020.7.14
requests==2.24.0
sacrebleu==1.4.14
sacremoses==0.0.43
sacrerouge==0.0.7
scikit-learn==0.23.2
scipy==1.5.2
sentence-transformers==0.3.6
sentencepiece==0.1.91
six==1.15.0
sklearn==0.0
spacy==2.3.2
srsly==1.0.2
tensorboardX==2.1
thinc==7.4.1
threadpoolctl==2.1.0
tokenizers==0.8.1rc2
toml==0.10.1
torch==1.6.0
torchvision==0.7.0
tqdm==4.49.0
transformers==3.1.0
typish==1.7.0
urllib3==1.25.10
wasabi==0.8.0
zipp==3.2.0
pingouin~=0.3.8